<h1> search <h1>

  <label for = "first-name">First Name</lable>
    <input required id="first-name" type="text" name="f_name" placeholder="First Name"/>

  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Premium</th>
      <th>Fitness Level</th>
      <th>View</th>

    </tr>
      <% for member in @members%>
      <tr>
        <td><%= member.f_name %></td>
        <td><%= member.l_name %></td>
        <%  premium = 'No'          %>
        <% if member.premium == 't' %>
        <%   premium = 'Yes'        %>
        <%end  %>
        <td> <%= premium %></td>

        <td><%= member.fitness_level %></td>
        <td>
        <form action="/members/<%= member.id %>" method="get">
          <input type="submit" value="Select">
        </form>
        </td>
      </tr>
    <% end %>
  </table>
