<p>Member <%= @member.id %><hr></p>
<h3> Member Details </h3>
<p>First Name: <%= @member.f_name %> </p>
<p>Last Name: <%= @member.l_name %> </p>
<p>Premium: <%= @member.premium%> </p>
<p>Fitness Level: <%= @member.fitness_level %> </p>
<hr>
<form action="/members/<%= @member.id %>/delete" method="post">
    <input class="interact interact-delete" type="submit" value="Delete">
</form>
<form action="/members/<%= @member.id %>/update" method="post">
    <input class="interact" type="submit" value="Edit">
</form>

<hr></p>
<h3>Bookings</h3>
<form action="/members/<%= @member.id %>/new_booking" method="get">
    <input type="submit" value="ADD BOOKING">
</form>
  <table>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Fitness Level</th>
      <th>Delete</th>
    </tr>
      <% for booking in @bookings%>
    <tr>
      <td><%= booking['name'] %></td>
      <td><%= booking['session_time'] %></td>
      <td><%= booking['fitness_level'] %></td>
      <td>
      <form action="/bookings/<%=booking['id'] %>/delete" method="post">
          <input class="interact interact-delete" type="submit" value="Delete">
      </form>
    </td>

  </tr>
    <% end %>
  </table>
