

<h1> Add Booking for <%= @member.f_name %> <%= @member.l_name %> </h1>

<div class = "bookings">

<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Spaces Left</th>
    <th></th>
  </tr>
  
    <%booked_times = [] %>
    <%@bookings.each {|booking| booked_times << booking['session_time']}%>

    <% for session in @timetables%>
      <% if @member.premium == session['premium'] || session['premium'] == 'f'%>
        <% if session['capacity'].to_i > 0  && !booked_times.include?(session['session_time'])%>
      <tr>

      <td><%= session['name'] %></td>
      <td><%= session['session_time'] %></td>
      <td><%= session['capacity'] %></td>

      <td><form action="/bookings/<%= @member.id %>/<%= session['id']%> " method="post">
          <input class="interact interact-delete" type="submit" value="Add">
      </form></td>

          <% end %>
        <% end %>
      <% end %>


    </tr>

</table>
