

<h1> Add Booking for <%= @member.f_name %> <%= @member.l_name %> </h1>

<div class = "bookings">

<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Spaces Left</th>
    <th></th>
  </tr>
    <% for session in @timetables%>


    <tr>
      <td><%= session['name'] %></td>
      <td><%= session['session_time'] %></td>
      <td><%= session['capacity'] %></td>
      <td><form action="/bookings/<%= @member.id %>/<%= session['id']%> " method="post">
          <input class="interact interact-delete" type="submit" value="Add">
      </form></td>
      <% end %>
    </tr>
</table>
