

<h1> Add Booking for <%= @member.f_name %> <%= @member.l_name %> </h1>

<div class = "bookings">

<table>
  <tr>
    <td>Name</td>
    <td>Time</td>
    <td>Spaces Left</td>
    <td>id</td>
    <td>select</td>
  </tr>
    <% for session in @timetables%>
    <tr>
      <td><%= session['name'] %></td>
      <td><%= session['session_time'] %></td>
      <td><%= session['capacity'] %></td>
      <td><%= session['id'] %></td>
      <td><a href="/bookings/<%= @member.id %>/ <%= session['id']%>">View Details</a></td>
      <% end %>
    </tr>
</table>
